body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    }

#top-area {
    min-height: 450px;
    color: black;
}

#top-area .bg-image {
    position: absolute;
    background: #232323 url('https://usbornebeth.files.wordpress.com/2009/07/name-game-basket.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.main-area {
    text-align: center;
}

.title {
    padding-top: 3em;
    margin: 0;
}

.btn {
        display: inline-block;
        background: #232323;
        color: whitesmoke;
        text-decoration: none;
        padding: 1em 2em;
        border: 1px solid #666;
        margin: .5em 0;
        font-size: 75%;
        text-transform: uppercase;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(-1px);
}

#player {
    display: none;
}

#list {
    display: none;
}

#showlist {
    display: none;
}

#closelist {
    display: none;
}